{% extends 'base.html' %}

{% block title %}
    <title>Create Company</title>
{% endblock title %}
{% block content %}
    <h1>Create Company</h1>
    <main>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                <p>Name: {{ form.name }}</p>
                <p>{{ form.description }}</p>
                <p>Logo URL: {{form.logo}}</p>
                <p>Created by: {{form.owner}}</p>
                <button class='confirm_button'>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
