{% extends 'base.html' %}

{% block title %}
    <title>Delete Company</title>
{% endblock title %}
{% block content %}
    <h1>{{ company.name }}</h1>
    <main>
        <div>disclaimer: It will not delete the associated projects</div>
        <div class='second'>
            {% if company.projects.all|length > 0 %}
                <table>
                    <thead>
                        <th>Projects</th>
                        <th>Num.Tasks</th>
                    </thead>
                    <tbody>
                        {% for project in company.projects.all %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td class='number'>{{ project.tasks.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No projects associated with this company.</p>
            {% endif %}
            <h3>Are you sure you want to delete this company ?</h3>
            <form action='' method = 'POST'>
                {% csrf_token %}
                <input class='confirm_button' type='Submit' value='Delete'>
            </form>
        </div>
    </main>
{% endblock content %}
