{% extends 'base.html' %}

{% block title %}
    <title>Edit Company</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                <p>Name: {{ form.name }}</p>
                <p>{{ form.description }}</p>
                <p>Logo URL: {{form.logo}}</p>
                <button class='confirm_button'>Save</button>
                </p>
            </form>
        </div>
    </main>
{% endblock content %}
