{% extends 'base.html' %}

{% block title %}
    <title>Companies</title>
{% endblock title %}
{% block content %}
    <h1>COMPANIES</h1>
    <main>
        <div>
            <form class='search' action={% url 'search_project' %} method='get'>
                <input name='search' placeholder='projects...'>
                <button class='button'>Search</button>
            </form>
            <p class='button'>
                <a href={% url 'create_company' %}>New Company</a>
            </p>
            {%if companies.count > 0%}
            <table>
                <thead>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Number of projects</th>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>
                                <img src={{company.logo}}>
                            </td>
                            <td>{{ company.name }}</td>
                            <td class='number'>{{ company.projects.count }}</td>
                            {%if company.owner == request.user%}
                            <td class='button'>
                                <a href={% url 'edit_company' company.id %}>Edit</a>
                            </td>
                            <td class='button'>
                                <a href={% url 'delete_company' company.id %}>Delete</a>
                            </td>
                            {%endif%}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%else%}
            <p>There are no companies saved in database.</p>
            {%endif%}
        </div>
    </main>
{% endblock content %}
