{% extends 'base.html' %}

{% block title %}
    <title>Search Results</title>
{% endblock title %}
{% block content %}
    <h1>SEARCH RESULTS</h1>
    <main>
        <div>
            {% if query %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Num.Tasks</th>
                        <th>Company</th>
                    </thead>
                    <tbody>
                        {% for item in results %}
                            <tr>
                                <td class='link'>
                                    <a href={% url 'show_project' item.id %}>{{ item.name }}</a>
                                </td>
                                <td class='number'>{{ item.tasks.count }}</td>
                                <td>{{ item.company }}</td>
                            </tr>
                        {% empty %}
                            <h3>No results found.</h3>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
