@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');

*{
    font-family: 'Martian Mono', monospace;
}
html{
    background-color: lightslategray;
}
nav{
    background-color: #CDCACC;
    height: 95%;
    width: 110px;
    position: fixed;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
}
.chart{
    border: none;
    background-color: #CDCACC;
    min-width: 700px;
    margin-left: 130px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black
}
h1 {
    margin-left: 130px;
    background-color: #CDACA1;
    padding: 10px 10px 10px 10px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(30, 30, 30);
}
.description{
    max-width: 900px;
}
body{
    width: fit-content;
    min-height: 790px;
}
main div{
    margin-left: 130px;
    min-width: 450px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color: #CDCACC;
    box-shadow: 5px 5px 15px rgb(30, 30, 30);
}
.second{
    margin-top: 10px;
}
.third{
    box-shadow: none;
    margin-top: 20px;
    background-color: lightslategray;
}
footer{
    text-align: center;
    margin: 50px 0px 10px 130px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: #CDCACC;
    box-shadow: 5px 5px 15px rgb(30, 30, 30);
}
table thead{
    background-color: #CDACA1;
    padding: 10px 10px
}
.number {
    text-align: center;
}

td{
    padding: 10px 10px;
}
tr:nth-child(even){
    background-color: #CDD6DD;
}

.button{
    background-color: #CDACA1;
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    width: fit-content;
}
.button:hover{
    background-color: #CD8987;
    box-shadow: 5px 5px 10px gray;
}
.static:hover{
    background-color: #CD8987;
    padding: 7px 7px;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
    border-radius: 10px;
}
.link:hover {
    background-color: #CD8987;
    box-shadow: 5px 5px 10px gray;
}
.logout{
    position: absolute;
    bottom: 0;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.logout:hover{
    background-color: #CD8987;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
    border-radius: 10px;
}
h2{
    width: fit-content;
    background-color: #CDACA1;
    padding: 5px 5px;
}
.search{
    float: right;
}
.float_button{
    background-color: #CDACA1;
    border: none;
    float: right;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px 5px;
}
.float_button:hover{
    background-color: #CD8987;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
}
.confirm_button{
    background-color: #CDACA1;
    border: none;
    margin-right: 5px;
    float: right;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
}
.confirm_button:hover{
    background-color: #CD8987;
}
img{
    width: 30px;
    height: 30px;
}
.head{
    border-radius: 10px;
    background-color: #CDACA1;
    text-align: center;
    box-shadow: 5px 5px 15px black;
}
