{%extends 'base.html'%}
{%block title%}
<title>My Profile</title>
{%endblock title%}
{%block content%}
    <main>
        <h1>PROFILE</h1>
        <div>
            <p>Last login: {{user.last_login|date:'M d, Y, h:i A'}}</p>
            <p>Created on: {{user.date_joined|date:'M d, Y'}}</p>
        </div>
        <div class='second'>
            <p>Logged in as: {{user.username}}</p>
        </div>
        <div class='second'>
            <form method = 'POST'>
                {%csrf_token%}
                <table>
                <p>First name: {{form.first_name}}</p>
                <p>Last name: {{form.last_name}}</p>
                <p>Email: {{form.email}}</p>
                </table>
                <button class='confirm_button'>Save</button>
            </form>
        </div>
    </main>
{%endblock content%}
