{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>LOGIN</h1>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class='confirm_button'>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
