{%extends 'base.html'%}
{%block title%}
<title>Overview</title>
{%endblock title%}
{%block content%}
    <main>
        <h1>OVERVIEW</h1>
        <div>
            <p>Hi, {{user.first_name}} {{user.last_name}}</p>
            <p>Last login: {{user.last_login|date:'M d, Y, h:i A'}}</p>
        </div>
        <div class='third'>
            <h3 class='head'>COMPANIES</h3>
        </div>
        <div class='second'>
            {%if companies%}
            <table>
                <thead>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Number of Projects</th>
                </thead>
                <tbody>
                    {%for company in companies%}
                    <tr>
                        <td>
                            <img src={{company.logo}}>
                        </td>
                        <td>{{company.name}}</td>
                        <td class='number'>{{company.projects.count}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p>There are no companies in the database.</p>
            {%endif%}
        </div>
        <div class='third'>
            <h3 class='head'>PROJECTS</h3>
        </div>
        <div class='second'>
            {%if projects%}
            <table>
                <thead>
                    <th>Company</th>
                    <th>Name</th>
                    <th>Number of Tasks</th>
                </thead>
                <tbody>
                    {%for project in projects%}
                    <tr>
                        <td class='number'>
                            <img src={{project.company.logo}}>
                        </td>
                        <td>{{project.name}}</td>
                        <td class='number'>{{project.tasks.count}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p>You have no projects.</p>
            {%endif%}
        </div>
        <div class='third'>
            <h3 class='head'>TASKS</h3>
        </div>
        <div class='second'>
            {%if tasks%}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Completed</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {%for task in tasks%}
                    <tr>
                        <td>{{task.name}}</td>
                        <td class='number'>{{task.is_completed|yesno}}</td>
                        <td>{{task.due_date|date:'M d, Y'}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p>You have no tasks.</p>
            {%endif%}
        </div>
    </main>
{%endblock content%}
