{% extends 'base.html' %}

{% block title %}
    <title>Sign Up</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>NEW ACCOUNT</h1>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                <p>Username: {{ form.username }}</p>
                <p>Password: {{ form.password }}</p>
                <p>Confirm password:</p>
                <p>{{ form.password_confirmation }}</p>
                <button class='confirm_button'>Sign up</button>
            </form>
        </div>
    </main>
{% endblock content %}
