{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" href={% static "css/home.css" %} />
<html lang='eng'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <header>
            <nav>
            {% if user.is_authenticated %}
                <p>
                    <a class='static' href={%url 'edit_profile'%}>PROFILE</a>
                </p>
                <p>
                    <a class='static' href={%url 'overview'%}>OVERVIEW</a>
                </p>
                <p>
                    <a class='static' href={% url 'list_companies' %}>COMPANIES</a>
                </p>
                <p>
                    <a class = 'static' href={% url 'list_projects' %}>PROJECTS</a>
                </p>
                <p>
                    <a class = 'static' href={% url 'show_my_tasks' %}>TASKS</a>
                </p>
                <p>
                    <a class = 'static' href={% url 'show_chart' %}>CHART</a>
                </p>
                <p class='logout'>
                    <a href={% url 'logout' %}>Logout</a>
                </p>
            {% else %}
                <p>
                    <a class = 'static' href={% url 'login' %}>Login</a>
                </p>
                <p>
                    <a class = 'static' href={% url 'signup' %}>Sign up</a>
                </p>
            {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <p>Created with Django</p>
        </footer>
    </body>
</html>
