{%extends 'base.html'%}
{%block title%}
<title>Chart</title>
{%endblock title%}
{%block content%}
    <h1>TASKS TIMELINE</h1>
    {% if tasks.count > 0%}
    <div class='chart'>
        {% autoescape off %}
        {{plot_div}}
        {% endautoescape %}
    </div>
    {%else%}
    <main>
        <div>You do not have any tasks to chart.</div>
    </main>
    {%endif%}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{%endblock content%}
