{% extends 'base.html' %}

{% block title %}
    <title>Delete Task</title>
{% endblock title %}
{% block content %}
    <h1>{{ task.project }}</h1>
    <main>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                    <th>Assignee</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date|date:'M d, Y' }}</td>
                        <td>{{ task.due_date|date:'M d, Y' }}</td>
                        <td class='number'>{{ task.is_completed|yesno }}</td>
                        <td>{{ task.assignee }}</td>
                        <tr>
                        </tbody>
                    </table>
                    <h3>
                        Are you sure you want to delete this task ?
                        <h3>
                            <form action = '' method = 'POST'>
                                {% csrf_token %}
                                <input class='confirm_button' type="Submit" Value="Delete">
                            </form>
                        </div>
                    </main>
                {% endblock content %}
