{% extends 'base.html' %}

{% block title %}
    <title>Edit Task</title>
{% endblock title %}
{% block content %}
    <h1>Edit Task</h1>
    <main>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                <p>Name: {{ form.name }}</p>
                <p>Start date: {{ form.start_date }} Due date: {{ form.due_date }}</p>
                <p>Project: {{ form.project }} Assignee: {{ form.assignee }}</p>
                <p>Is completed: {{ form.is_completed }}</p>
                <p>{{ form.note }}</p>
                <button class='confirm_button'>Save</button>
            </form>
        </div>
    </main>
{% endblock content %}
