{% extends 'base.html' %}

{% block title %}
    <title>Tasks</title>
{% endblock title %}
{% block content %}
    <h1>ALL TASKS</h1>
    <main>
        <div>
            <form class='search' action={% url 'search_task' %} method='get'>
                <input name='search' placeholder='tasks...'>
                <button class='button'>Search</button>
            </form>
            <p class='button'>
                <a href={%url 'show_chart'%}>Chart</a>
            </p>
            {% if tasks|length > 0 %}
            <table>
                <thead>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Completed</th>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>
                                {{ task.project }}
                                <td class='link'>
                                    <a href={% url 'task_detail' task.id %}>{{ task.name }}</a>
                                </td>
                                <td>{{ task.start_date|date:'M d, Y' }}</td>
                                <td>{{ task.due_date|date:'M d, Y' }}</td>
                                <td class='number'>{{ task.is_completed|yesno }}</td>
                                <td class='button'>
                                    <a href={% url 'edit_task' task.id %}>Edit</a>
                                </td>
                                <td class='button'>
                                    <a href={% url 'delete_task' task.id %}>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
            <p class='button'>
                <a href={% url 'create_task' %}>New Task</a>
            </p>
        </div>
    </main>
    {% endblock content %}
