{% extends 'base.html' %}

{% block title %}
    <title>Search Task</title>
{% endblock title %}
{% block content %}
    <h1>Search Results</h1>
    <main>
        <div>
            {% if query %}
                <table>
                    <thead>
                        <th>Project</th>
                        <th>Task</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Completed</th>
                    </thead>
                    <tbody>
                        {% for item in results %}
                            <tr>
                                <td>{{item.project.name}}</td>
                                <td class='link'>
                                    <a href={% url 'task_detail' item.id %}>{{ item.name }}</a>
                                </td>
                                <td>{{item.start_date|date:'M d, Y'}}</td>
                                <td>{{item.due_date|date:'M d, Y'}}</td>
                                <td class='number'>{{item.is_completed|yesno}}</td>
                                <td class='button'>
                                    <a href={%url 'edit_task' item.id%}>Edit</a>
                                </td>
                                <td class='button'>
                                    <a href={%url 'delete_task' item.id%}>Delete</a>
                                </td>
                            </tr>
                        {% empty %}
                            <h3>No results found.</h3>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
