{% extends 'base.html' %}

{% block title %}
    {% for i in task %}
        <title>{{ i.project }}</title>
    {% endfor %}
{% endblock title %}
{% block content %}
    <h1>TASK DETAILS</h1>
    <main>
        <div>
            {% for i in task %}
                <h3>{{ i.project }}</h3>
                <p class='description'>{{i.project.description}}</p>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Completed</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.start_date|date:'M d, Y' }}</td>
                            <td>{{ i.due_date|date:'M d, Y' }}</td>
                            <td class='number'>{{ i.is_completed|yesno }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class='description'>notes: {{ i.note }}</p>
                <p class='confirm_button'>
                    <a href={% url 'edit_task' i.id %}>Edit</a>
                </p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
