{% extends 'base.html' %}

{% block title %}
    <title>Create Project</title>
{% endblock title %}
{% block content %}
    <h1>Create a new project</h1>
    <main>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                <label>Project Name:</label>
                <p class='form'>{{ form.name }}</p>
                <label>Project Description:</label>
                <p class='form'>{{ form.description }}</p>
                <span>Company:</span>
                <span class='form'>{{ form.company }}</span>
                <span>Owner:</span>
                <span class='form'>{{ form.owner }}</span>
                <button class='button'>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
