{% extends 'base.html' %}

{% block title %}
    <title>Delete Project</title>
{% endblock title %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <main>
        <div>disclaimer: It will delete all tasks associated with this project</div>
        <div class='second'>
            {% if project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Completed</th>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td class='number'>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are no tasks associated with this project.</p>
            {% endif %}
            <h3>
                Are you sure you want to delete this project ?
            </h2>
            <form action = '' method = 'POST'>
                {% csrf_token %}
                <input class='confirm_button' type="Submit" Value="Delete">
            </form>
        </div>
    </main>
{% endblock content %}
