{% extends 'base.html' %}

{% block title %}
    <title>{{ details.name }}</title>
{% endblock title %}
{% block content %}
    <h1>{{ details.name }}</h1>
    <main>
        <div>
            <p class='description'>{{ details.description }}</p>
            {% if details.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in details.tasks.all %}
                            <tr>
                                <td class='link'>
                                    <a href={% url 'task_detail' task.id %}>{{ task.name }}</a>
                                </td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:'M d, Y' }}</td>
                                <td>{{ task.due_date|date:'M d, Y' }}</td>
                                <td class='number'>{{ task.is_completed|yesno }}</td>
                                <td class='button'>
                                    <a href={% url 'edit_task' task.id %}>Edit</a>
                                </td>
                                <td class='button'>
                                    <a href={% url 'delete_task' task.id %}>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
            <p class='confirm_button'>
                <a href={% url 'create_task' %}>New task</a>
            </p>
        </div>
    </main>
{% endblock content %}
