{% extends 'base.html' %}

{% block title %}
    <title>Edit Project</title>
{% endblock title %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <main>
        <div>
            <form method = 'POST'>
                {% csrf_token %}
                <p>Name: {{ form.name }}</p>
                <p>{{ form.description }}</p>
                <p>Company: {{ form.company }} Owner: {{ form.owner }}</p>
                <button class='confirm_button'>Save</button>
            </form>
        </div>
    </main>
{% endblock content %}
