{% extends 'base.html' %}

{% block title %}
    <title>Projects</title>
{% endblock title %}
{% block content %}
    <h1>YOUR PROJECTS</h1>
    <main>
        <div>
            <form class='search' action={% url 'search_project' %} method='get'>
                <input name='search' placeholder='projects...'>
                <button class='button'>Search</button>
            </form>
            <p class='button'>
                <a href={% url 'create_project' %}>New Project</a>
            </p>
            {% if projects|length is 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                        <th>Company</th>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td class='link'>
                                    <a href={% url 'show_project' project.id %}>{{ project.name }}</a>
                                </td>
                                <td class='number'>{{ project.tasks.count }}</td>
                                <td>{{ project.company }}</td>
                                <td class='button'>
                                    <a href={% url 'edit_project' project.id %}>Edit</a>
                                </td>
                                <td class='button'>
                                    <a href={% url 'delete_project' project.id %}>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        {%if projects.last%}
        <div class='second'>
            <p>
                <span>Latest project:</span>
                <span class='button'>
                    <a href={% url 'show_project' projects.last.id %}>{{ projects.last.name }}</a>
                </span>
            </p>
            <p>
                <span>Latest task:</span>
                <span class='button'>
                    <a href={% url 'edit_task' tasks.last.id %}>{{ tasks.last.name }}</a>
                </span>
            </p>
        </div>
        {%endif%}
    </main>
{% endblock content %}
